.container {
  padding-top: 100px;
  height: 100vh;
  width: 100vh;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  overflow: visible;
}
.mvposts_box {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
