.container {
  margin-top: 20px;
  width: 100vh;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.poster {
  display: grid;
  place-items: center;
  border-radius: 3px;
  border: solid 0.8px black;
  background-color: rgb(245, 243, 240);
}
