.container {
  margin-top: 20px;
  width: 100vh;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.poster {
  display: grid;
  place-items: center;
  border-radius: 3px;
  box-shadow: 2px 1.5px 1.5px rgba(188, 143, 143, 0.658);
  background-color: rgb(245, 243, 240);
}

.poster:hover {
  transform: scale(1.07);
}
