.mvPoster > img {
  width: 200px;
  height: 300px;
}
.mvInfo_box {
  display: flex;
  flex-direction: row;
  width: 1000px;
  background-color: white;

  margin-top: 20px;
}
.mvInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.newReview_btn_box {
  height: 40px;
  margin: 40px;
  display: flex;

  justify-content: center;
}
.newReview_btn {
  background-color: rgb(245, 187, 79);
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create_link:hover {
  color: gray;
}
.create_link {
  color: white;
  font-size: large;
}
.mvPoster {
  padding: 20px;
}
