.mvPoster > img {
  width: 200px;
  height: 300px;
}
.mvInfo_box {
  border: solid 1px black;
  display: flex;
  flex-direction: row;
  width: 1000px;

  margin-top: 20px;
}
.mvInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.newReview_btn {
  width: 95%;
  border: solid 1px black;
  margin: 5px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
