.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.userInfoBox {
  width: 1000px;
  background-color: white;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 90px;
  margin-top: 30px;
}

.userInfo {
  display: flex;
  justify-content: space-between flex-start;

  padding: 10px;
}

.img {
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.links_Box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px;
  background-color: pink;
  color: white;
  height: 50px;
  width: 65%;
  margin-right: 120px;
  font-size: large;
}
.btn:hover {
  color: gray;
}
.line {
  background-color: gray;
  height: 1px;
  margin: 10px;
  margin-bottom: 30px;
  width: 95%;
}

.part {
  height: 35px;
  background-color: white;
  width: 1.2px;
}
